@page "{id:int}"
@model WebApp.Pages.Certifications.DeleteModel
@{
    ViewData["Title"] = "Delete Certification";
}

<h1>Delete Certification</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Certification.Name</dd>
        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Certification.Description</dd>
        <dt class="col-sm-3">Training Hours</dt>
        <dd class="col-sm-9">@Model.Certification.TrainingHoursRequired</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Certification.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-page="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
